*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "curious-george";
    src: url(curious-george.ttf);
}

body{
    height: 100vh;
    background-color: hsl(60, 88%, 63%);
    color: hsl(0, 90%, 46%);
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

ul {
    list-style-type: circle;
    font-size: 30px;
}

img {
    width: 100%;
    height: 100%;
    background-color: white;
    /* margin-bottom: 100px; */
}
#main-title{
    font-family: curious-george, sans-serif;
    text-shadow: 2px 2px white;
    font-size: 70px;
}
#nav {
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 90px;
    font-size: 28px;
  }

.board {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 20px;
    perspective: 1000px;
}

.card {
    height: 100%;
    width: 100%;
    border: 5px solid grey;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    /* background-color: blue; */
}

.card.flip {
    transform: rotateY(180deg);
}

.back,.front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* background-color: hsl(0, 3%, 6%); */
    backface-visibility: hidden;
    background-color: hsl(0, 69%, 55%);
    display: inline-block;
}

.front{
    transform: rotateY(180deg);
}

.back:hover{
    background-color: hsl(0, 4%, 26%);
}

#play { 
    background-color: hsl(0, 90%, 46%);
    color: white;
    font-size: 20px;
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* align-items: baseline; */
}

#play:hover{
    background-color: hsl(0, 75%, 57%);
}

#start { 
    background-color: hsl(0, 90%, 46%);
    color: white;
    font-size: 20px;
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* align-items: baseline; */
}

#start:hover{
    background-color: hsl(0, 75%, 57%);
}

.hidden {
    visibility: hidden;
}

.hidden-after::after {
    visibility: hidden;
}